@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1px;
}
main{
    height: auto;
    width: 100%;
    background-color: #e4e4e4;
    display: flex;
    border: 2px black solid;

}
.container{
    width: 100%;
    display: block;
    margin: 3px;
    justify-content: center;
    align-items: center;

}
.container h1{
    margin: 10px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    font-size:50px;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(0, 200, 224);
    text-shadow: 3px 3px 4px rgba(74, 74, 74, 1);
}
.web-main{
    max-width: 100%;
    width: 70%;
    margin: auto;
    box-shadow: 2px 3px 10px rgb(87, 86, 86);
    height: auto;
    padding: 10px;
    flex-direction: row;
    display: block;
    justify-content: center;
}

.main-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 50%;
}
.main-content img{
    max-width: 100%;
    width: 50%;
    height: auto;
    padding: 20px;
    margin: 5px;
    box-shadow: #000 0px 0px 5px;
}
.main-description{
    width: 50%;
    height: auto;
    max-width: 100%;
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.main-description h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    padding: 5px;
    color: #000;
}
.main-description p{
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
    margin-top: 15px;
    padding: 10px;
    text-align: justify;
    color: #000;
}

.add-info{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.add-info h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    padding: 5px;
    margin: 50px ;
    color: #000;
}
.add-info p{
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
    margin-top: 15px;
    padding: 10px;
    text-align: justify;
    color: #000;
}
.add-info ul{
    margin-left: 20px;
    padding: 10px;
}

.add-info ul li{
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    color: #000;
    text-decoration: dotted;
}
.add-info ul li span{
    font-weight: 700; 
}
.ex-project{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0 10px 0;
}
.img{
        width: 25%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
}
.ex-project img{
    width: auto;
    height: 180px;
    box-shadow: #000 0px 0px 5px;
    border: 2px solid #000;
}
.add-info-about{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
}


.about-me{
    height: auto;
    width: 45%;
}
.about-me h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 30px;
    padding: 5px;
    margin-top: 10px;
    color: #000;
}
.about-me ul{
    margin-left: 20px;
    padding: 10px;
}
.about-me ul li{
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    color: #000;
    text-decoration: dotted;
}
.img-about-me{
    max-width: 100%;
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.img-about-me img{
    width: auto;
    height: 300px;
    box-shadow: #000 0px 0px 5px;
    border: 2px solid #000;
    align-items: center;
    justify-content: center;
    display: flex;
}
.mission{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.mission h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 30px;
    padding: 5px;
    color: #000;
}
.mission p{
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
    margin-top: 15px;
    padding: 10px;
    text-align: justify;
    color: #000;
}
.btn-contact{
    display: block;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 8vh;
    margin: 20px auto 40px auto;
    padding: 10px 20px 10px 20px;
    text-align: center;
}
.btn-contact a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    border: 2px solid #000;
    width: auto;
    padding: 5px 30px 5px 30px;
    text-decoration: none;
    box-shadow: #32434b 0px 0px 10px;
    border-radius: 10px;
    background-color: #32434b;
}
.btn-contact a:hover{
    background-color: #32434b;
    transition: .4s;
    font-size: 35px;
    color: #00C8E0;
    box-shadow: #32434b 0px 0px 5px;
}

.main-project{
     width: 100%;
    display: block;
    flex-direction: row;
    margin: auto;
    height: 50%;
}
.main-project img{
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: auto;
    box-shadow: #000 0px 0px 5px;
}


.vid{
    margin: 50px 0 20px 0;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.vid a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    padding: 10px 20px 10px 20px;
    background-color: #32434b;
    border-radius: 10px;
    box-shadow: #32434b 0px 0px 15px;
}
.vid a:hover{
    background-color: #32434b;
    transition: .4s;
    font-size: 23px;
    color: #00C8E0;
    box-shadow: #32434b 0px 0px 5px;
}
.vid a i{
    margin-right: 8px;
    font-size: 20px;
    color: #fff;
    background-color: red;
}
.skills{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgb(87, 86, 86);
}
.skills h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 30px;
    padding: 5px;
    color: #000;
}
.skills ul{
    margin-left: 20px;
    padding: 10px;
}
.skills ul li{
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    color: #000;
    text-decoration: dotted;
}
.skills ul li i{
    font-weight: 700; 
    color: #000;
    background: #e4e4e4;
}
.testimonials{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgb(87, 86, 86);
    text-align: center;
}
.testimonials h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    padding: 5px;
    color: #000;
}
.testimonials p{
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    margin-top: 15px;
    padding: 10px;
    color: #000;
}   
.contact{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}
.contact h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    padding: 5px;
    color: #000;
}
.contact-box{
    width: 80%;
    max-width: 100%;
    height: auto;
    margin: 20px auto 40px auto;
    padding: 20px;
    box-shadow: 2px 3px 10px rgb(87, 86, 86);
    border-radius: 10px;
    display: block;
}

form {
  display: inline-block;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #e4e4e4 ;
  padding: 30px;
  border-radius: 10px;
  box-shadow: #000 0px 0px 5px;
  width: 80%;
  height: auto;
  margin: 10px;
}
form div {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
    margin: 10px;
  padding: 5px;
  gap: 10px;
}
form div label .fa-solid{
    margin-right: 8px;
    color: #000;
    background-color: #e4e4e4;
}

label {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #000;
  margin-bottom: 8px;
  gap: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  max-width: 300px;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  transition: 0.3s ease;
  font-family: 'Roboto', sans-serif;
}

input:focus,
textarea:focus {
  border-color: #00C8E0;
  box-shadow: 0 0 5px rgba(0, 200, 224, 0.5);
}

textarea {
  height: 120px;
  resize: none;
}

button {
  background-color: #00C8E0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

button:hover {
  background-color: #009bb5;
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
    align-items: center;
  }
  input,
  textarea {
    max-width: 100%;
  }
}

